@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:wght@700&family=Source+Sans+Pro:ital,wght@0,600;0,700;0,900;1,700&display=swap');

body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 16px;

  @apply bg-gray-50 dark:bg-gray-900 text-black dark:text-white;
}

a {
  @apply text-blue-600;
}

h1,h2,h3,h4,h5,h6 {
  @apply font-heading font-bold;
}

ul {
  @apply list-disc list-inside my-3;
}

ol {
  @apply list-decimal list-inside my-3;
}

li {
  @apply p-2;
}

@keyframes shine {
    0%, 10% {
      background-position: -150px;
    }
    100% {
      background-position: 250px;
    }
}

@keyframes bounce {
  0% {
      transform: initial;
  }
  100% {
      transform: translateY(-150px);
  }
}

@keyframes sway {
  0% {
      transform: initial;
  }
  50% {
      transform: translateX(100px)
  }
  90% {
      transform: translateX(-10px)
  }
  100% {
      transform: translateX(0);
  }
}

.shine {
    background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
    background-size: 150px;
    color: rgba(255, 255, 255, 0.3);
    background-clip: text;
    animation-name: shine;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.bounce {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.sway {
  animation-name: sway;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}